<p>employee works!</p>
<input #username   type="text" placeholder="Username"> <br>
<input #password type="text" placeholder="Password"><br>
<button (click)="check(username.value,password.value)">Login</button>
<input [value]="checking" type="text" placeholder="Result">
<br>
<hr>

<!-- <input #num1 type="text" placeholder="Enter the num1"><br><br>
<input #num2 type="text" placeholder="Enter the num2"><br><br>
<button (click)="onAddition(num1.value,num2.value)" >Addition</button>
<hr>
<input [value]="result" type="text" placeholder="Result"> -->
<!-- <hr> -->
